<h3>Movie Rank</h3>
<a routerLink="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Movie List</a><br/>
<a routerLink="search" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Search Page</a><br/>
<!-- <a routerLink="['/content', content.id]" routerLinkActive="active">Movie Detial</a><br/> -->
<a routerLink="pagewillnotbefound" routerLinkActive="active">Invalid page link</a><br/>

<!-- <a routerLink="/list">Content List</a> |
<a routerLink="Notthepageyouarelookingfor">Broken link test</a> -->
<hr>