<!-- <div *ngIf="topmovieCard">
    <header>{{ topmovieCard.title }}</header>
    <img *ngIf="topmovieCard.imageLink" [src]="topmovieCard.imageLink">
  
    <p *ngIf="topmovieCard.body">
      {{ topmovieCard.body }}
    </p>
    <div class="author">{{ topmovieCard.author }}</div>
    <div class="type">{{ topmovieCard.type }}</div>
    <div class="hashtags" *ngIf="topmovieCard.hashtags">
      <span *ngFor="let hashtag of topmovieCard.hashtags">
        # {{ hashtag }}
      </span>
    </div>
  </div> -->


  <div *ngIf="movieCard" class="movieCard">
    <div>
      <!-- <h1>{{ topmovieCard?.title }}</h1> -->
      <h1>{{ movieCard.title }}</h1>
      
      
      <img *ngIf="movieCard.imageLink" [src]="movieCard.imageLink" (click)="clickEvent()">

        <p *ngIf="movieCard.body">
          {{ movieCard.body }}
        </p>

        <h3>{{ movieCard.author}}</h3>
        <h4>{{ movieCard.type }}</h4>
        
        <div *ngIf="movieCard.hashtags && movieCard.hashtags.length > 0">
          <span *ngFor="let eachhashtag of movieCard.hashtags"> #{{ eachhashtag }}</span>
        </div>

    </div>
  </div>