.movieCard {
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 300px;
}





:host {
  text-align: center;
  border: 5px solid lightgray;
  border-radius: 35px;
  display: block;
  margin: 0 auto 16px;
  max-width: 500px;
  
 &.is-odd {
    background-color: white;
    color: black;
  }

  &.is-even {
    background-color: gray;
    color: white;
  }
  &.searchedMovie{
  box-shadow: 8px 16px 24px hotpink;
  border-radius: 100px;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  
}