.movieCard {
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    width: 300px;
}

span {
  font-family: Arial, Helvetica, sans-serif;

  // important 말고 뭐가 더 있음? 그리고 색 왜 무슨 바닐라 색임? 뭐가 중요하다는겨
  background-color: lightyellow !important;
  color: darkcyan;
  padding: 5px;
  display: inline-block;
  margin: 0 8px;
  font-weight: bold;
  border-radius: 7px;
}


:host {
  border: 5px solid lightgray;
  border-radius: 35px;
  display: block;
  margin: 0 auto 16px;
  max-width: 500px;
  
 &.is-odd {
    background-color: white;
    color: black;
  }

  &.is-even {
    background-color: gray;
    color: white;
  }
  &.no-type {
    background-color: red;
    color: white;
  }
  &.drama-type {
    background-color: lightcoral;
    color: white;
  }
  &.action-type {
    background-color: lightseagreen;
    color: white;
  }
  &.same-type {
    background-color: lightgreen;
    color: green;
  }
  &.movie-found {
    border-width: 20px;
    border-color: yellow;
  }
  &.is-last {
    color: greenyellow;

  }
}