<!-- <div class="movie-search">
    <label>
      Movie Search:
      <input type="number" autofocus #idNumber>
    </label>
    <br>
    <button (click)="checkForIdInList(idNumber.value)">Check for movie at ID</button>
  </div>

<app-content-card [movieCard]="individualMovie" class="searchedMovie"></app-content-card> -->

<!-- passive -->
<a routerLink="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Movie List</a><br/>
<a routerLink="search" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Search Page</a><br/>
<a routerLink="['/content', content.id]" routerLinkActive="active">Movie Detial</a><br/>
<a routerLink="pagewillnotbefound" routerLinkActive="active">Invalid page link</a><br/>



<!-- <a href="list">Content List</a><br />
<a href="content/1"> The answer to the universe and everything
</a><br />
<a href="pagewillnotbefound"> Invalid page link / like 404 </a><br /> -->
<router-outlet></router-outlet>